# Enable the rewrite engine
RewriteEngine On

# Rewrite rule for index.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^استقدام-عمالة-اندونيسية$ index.html [NC,L]

# Rewrite rule for indoforall_pricepage.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^اسعار-الإستقدام-من-اندونيسية$ indoforall_pricepage.html [NC,L]

# Rewrite rule for indoforall_questionpage.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^الأسئلة-الشائعة$ indoforall_questionpage.html [NC,L]

# Rewrite rule for indoforall_proofpage.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^إثبات-المصداقية$ indoforall_proofpage.html [NC,L]

# Rewrite rule for indoforall_systempage.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^طريقة-الإستقدام$ indoforall_systempage.html [NC,L]

# Rewrite rule for indoforall_aboutuspage.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^عن-شركتنا$ indoforall_aboutuspage.html [NC,L]


# Custom error pages
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html

# Block access to sensitive files
<FilesMatch "(^\.htaccess|\.htpasswd|\.ini|\.log|\.sh|\.sql)$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Prevent directory listing
Options -Indexes

# Prevent hotlinking of images
RewriteEngine On
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^http(s)?://(www\.)?indoforall\.com [NC]
RewriteRule \.(jpg|jpeg|png|gif)$ - [NC,F,L]

# Enable GZIP compression
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/css text/javascript application/javascript application/json
</IfModule>

# Enable browser caching
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
</IfModule>
