@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');

/* All */
* {
    font-family: 'Readex Pro', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    user-select: none;
    direction: rtl;
}

/* Body */
body {
    background: rgb(59, 59, 59);
    color: white;
}



/* Unknow Effects */
.indoforall_fullscreenoverlay {
    width: 100%;
    height: 100%;
    background: rgb(59, 59, 59);
    padding: 20px 0;
    z-index: 997;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.indoforall_fullscreenoverlay h1 {
    background: black;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 5px;
}

.indoforall_fullscreenoverlay video,
.indoforall_fullscreenoverlay img {
    margin: 10px 0;
    width: 400px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px black;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}


.indoforall_fullscreenoverlay video:hover,
.indoforall_fullscreenoverlay img:hover {
    opacity: 0.8;
}

.fullscreenoverlayexitbutton {
    background: black;
    z-index: 999;
    font-size: 15px;
    position: fixed;
    top: 20px;
    right: 20px;
    width: fit-content;
    padding: 12px 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.fullscreenoverlayexitbutton:hover {
    opacity: 0.8;
    background: white;
    color: black;
    transform: scale(1.03);
}

.indoforall_fullscreenimgoverlay {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    z-index: 997;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bigimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 95%;
    width: auto;
    max-height: 90vh;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px black;
}









/* Header */
header {
    background: rgb(59, 59, 59);
    width: 100%;
    padding: 10px;
}

header div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#indoforall_weblogo {
    width: 15vw;
    animation: floatAnimation 4s ease-in-out infinite;
}

.indoforall_webintro {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: rgb(0, 255, 0);
    width: fit-content;
    padding: 10px;
    font-size: 3vw;
}

#indoforall_webintro1 {
    font-size: 3.5vw;
    background: linear-gradient(90deg, #00ddff, orange);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: floatAnimation 4s ease-in-out infinite;
}

#indoforall_webintro2 {
    color: white;
    font-size: 2vw;
}

#indoforall_webintro3 {
    background: linear-gradient(90deg, #00ddff, orange);
    font-size: 2vw;
    padding: 15px 0;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.indoforall_contactus {
    background: black;
    margin: 15px 0;
    font-size: 1.5vw;
    text-decoration: none;
    text-align: center;
    padding: 9px 18px;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.indoforall_contactus:hover {
    background: rgb(59, 59, 59);
    color: orange;
    transform: scale(1.03);
}

nav {
    padding: 10px;
}

#indoforall_nav {
    background: linear-gradient(to right, #00ddff, orange);
    padding: 10px;
    display: flex;
    justify-content: start;
    flex-direction: row;
    width: fit-content;
    border-radius: 30px;
    cursor: pointer;
}

nav h3,
nav h4 {
    color: black;
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
}

#indoforall_navIcon {
    width: 25px;
    cursor: pointer;
}

#indoforall_nav:hover {
    opacity: 0.5;
}

#indoforall_navoptions {
    background: rgb(99, 99, 99);
    padding: 10px;
    z-index: 999;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
}


#indoforall_navlogo {
    width: 150px;
    padding: 15px;
    animation: floatAnimation 4s ease-in-out infinite;
}


#indoforall_navoptions h4 {
    color: white;
    margin: 5px 0;
    width: 100%;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#indoforall_navoptions h4:hover {
    opacity: 0.5;
}

#indoforall_closenav {
    background: black;
    margin: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 17px;
    padding: 9px 18px;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease;
}

#indoforall_closenav:hover {
    background: rgb(77, 66, 66);
    color: white;
    transform: scale(1.03);
}

@keyframes floatAnimation {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

#indoforall_WhatsAppIcon {
    z-index: 998;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 80px;
    left: 5px;
    animation: floatAnimation 4s ease-in-out infinite;
}

#indoforall_WhatsAppIcon h4 {
    text-align: center;
    background: orange;
    color: black;
    padding: 10px;
    width: fit-content;
    font-size: 15px;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.1s ease-in-out;
}

#indoforall_WhatsAppIcon img {
    padding: 5px;
    width: 70px;
    cursor: pointer;
}

#indoforall_WhatsAppIcon h4:hover,
#indoforall_WhatsAppIcon img:hover {
    opacity: 0.5;
}

#indoforall_GoUpArrow {
    opacity: 0;
    z-index: 998;
    background: orange;
    color: black;
    font-size: 50px;
    position: fixed;
    bottom: 80px;
    right: 5px;
    cursor: pointer;
    border-radius: 30px;
    animation: floatAnimation 4s ease-in-out infinite;
    transition: opacity 0.2s ease-in-out;
}








/* Worker Cards Section */
.indoforall_sections {
    background: rgb(35, 35, 35);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.indoforall_sectionintrotext {
    background: black;
    font-size: 1.5vw;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px white;
}

.indoforall_wecareaboutworkerstext {
    font-size: 1.5vw;
    margin: 30px 0;
    text-align: center;
    background: linear-gradient(90deg, #00ddff, orange);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#indoforall_cardsarea {
    background: rgb(78, 78, 78);
    width: 100%;
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px white;
}

.indoforall_WorkerCard {
    background: black;
    height: fit-content;
    width: 180px;
    margin: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.1s ease-in-out;
}

.indoforall_WorkerCard:hover {
    transform: scale(1.03);
    opacity: 0.9;
}

.indoforall_WorkerCard h1 {
    margin-bottom: 5px;
    font-size: 20px;
}

#indoforall_cardsarea img {
    width: 100%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px black;
}






/* Main Page Section */
#indoforall_mainpagesection {
    background: rgb(59, 59, 59);
}

.indoforall_mainpagetext {
    background: black;
    font-size: 1.5vw;
    margin-bottom: 10px;
    padding: 10px 20px;
    width: fit-content;
    text-align: center;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px white;
}

#indoforall_ourfeaturesarea {
    background: rgb(78, 78, 78);
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    box-shadow: 0px 0px 10px 1px white;
}

#indoforall_ourfeaturesarea h2 {
    background: linear-gradient(90deg, #00ddff, orange);
    font-size: 1.5vw;
    padding: 8px 16px;
    border-radius: 30px;
    margin: 3px 0;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#indoforall_ourfeaturesarea spam {
    margin-left: 5px;
}

#indoforall_mainpagesection img {
    margin: 15px 0;
}

#indoforall_indonesiainfoimage1 {
    width: 100px;
    margin: 15px 0;
}

#indoforall_indonesiainfoimage2 {
    width: 150px;
    margin: 15px 0;
}

#indoforall_indonesiainfo {
    background: rgb(78, 78, 78);
    width: 100%;
    height: fit-content;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 1px white;
}

#indoforall_indonesiainfo h2 {
    font-size: 1vw;
}


#indoforall_ourcontactinfo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px
}

#indoforall_ourcontactinfo div {
    background: linear-gradient(to right, rgb(255, 0, 221), rgb(174, 0, 255), rgb(13, 0, 255));
    display: flex;
    width: 20vw;
    margin: 10px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px black;
    animation: floatAnimation 4s ease-in-out infinite;
    transition: all 0.1s ease-in-out;
}

#indoforall_ourcontactinfo div:hover {
    opacity: 0.6;
}

#indoforall_ourcontactinfo ion-icon {
    background: linear-gradient(#00ddff, rgb(251, 0, 255));
    font-size: 5vw;
    text-align: center;
    margin: 40px 0 10px 0;
    padding: 10px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px black;
}

#indoforall_ourcontactinfo h1,
#indoforall_ourcontactinfo h2 {
    background: orange;
    font-size: 1vw;
    text-align: center;
    align-items: center;
    margin: 5px 0;
    padding: 6px 12px;
    border-radius: 30px;
}









/* Prices Section */
#indoforall_pricearea {
    background: rgb(35, 35, 35);
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.indoforall_pricecard {
    background: linear-gradient(to right, #00ddff, orange);
    width: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    animation: floatAnimation 4s ease-in-out infinite;
    transition: all 0.1s ease-in-out;
}

.indoforall_pricecard img {
    width: 40%;
    padding: 30px 0;
}

.indoforall_pricecard h3,
.indoforall_pricecard h4,
.indoforall_pricecard h5 {
    font-size: 20px;
    background: black;
    width: fit-content;
    text-align: center;
    border-radius: 30px;
    padding: 8px 16px;
}

.indoforall_payresults {
    width: 100%;
    padding: 20px 0;
    border-radius: 30px;
}

.indoforall_payresults h5 {
    margin: 5px 0;
    font-size: 15px;
}

.indoforall_payresults spam {
    margin-left: 5px;
}





/* Questions And Answeres Section */
#indoforall_questionarea {
    background: rgb(78, 78, 78);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    margin: 15px 0;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px white;
    animation: floatAnimation 4s ease-in-out infinite;
}

#indoforall_questionarea div {
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.indoforall_QuestionText {
    background: black;
    font-size: 1.5vw;
    text-align: center;
    padding: 8px 16px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px black;
}

.indoforall_AnswerText {
    background: gray;
    font-size: 1.5vw;
    text-align: center;
    padding: 8px 16px;
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 30px;
}






/* Proof Section */
#indoforall_prooarea {
    background: rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px white;
}

.indoforall_ProofVideoDiv {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    padding: 10px 0;
    margin: 10px;
    border-radius: 30px;
    height: fit-content;
}

.indoforall_ProofVideoDiv h1 {
    margin-bottom: 5px;
    font-size: 20px;
    width: 95%;
    text-align: center;
    border-radius: 30px;
}

.indoforall_ProofVideoDiv video {
    width: 95%;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px black;
}




/* System Work Section */
#indoforall_systemworkarea {
    background: rgb(35, 35, 35);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 30px;
}

#indoforall_systemworkarea div {
    background: linear-gradient(90deg, #00ddff, orange);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 15px;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px black;
}

.indoforall_systemworknum {
    background: white;
    color: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
}

.indoforall_systemworktext {
    background: black;
    font-size: 20px;
    padding: 10px;
    border-radius: 30px;
}

.indoforall_explainsystemworktext {
    background: black;
    font-size: 15px;
    padding: 10px;
    border-radius: 30px;
}

#indoforall_systemworkarea ion-icon {
    background: linear-gradient(#00ddff, rgb(251, 0, 255));
    font-size: 80px;
    margin: 5px 0;
    padding: 15px;
    border-radius: 30px;
}





/* About Us Section */
#indoforall_companydescription {
    background: rgb(78, 78, 78);
    width: fit-content;
    margin-top: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 1px white;
}

#indoforall_companydescription h2 {
    font-size: 15px;
    text-align: center;
    padding: 6px 12px;
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 30px;
}

#indoforall_companydescription img {
    margin-top: 10px;
    width: 150px;
    animation: floatAnimation 4s ease-in-out infinite;
}

footer {
    background: black;
    display: flex;
    width: 100%;
    padding: 5px 0;
}

footer div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer h1,
footer h2 {
    background: linear-gradient(90deg, #00ddff, orange);
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: floatAnimation 4s ease-in-out infinite;
}

footer img {
    width: 100px;
    cursor: pointer;
    animation: floatAnimation 4s ease-in-out infinite;
}





















/* Media Queries */
/* 1040px */
@media(max-width:1040px) {
    .indoforall_systemworknum {
        font-size: 17px;
    }

    .indoforall_systemworktext {
        font-size: 17px;
    }

    .indoforall_explainsystemworktext {
        font-size: 13px;
    }

    #indoforall_systemworkarea ion-icon {
        font-size: 70px;
    }
}

/* 950px */
@media(max-width:950px) {
    #indoforall_navlogo {
        width: 100px;
        padding: 15px;
    }

    nav h3,
    nav h4 {
        font-size: 15px;
    }

    #indoforall_closenav {
        font-size: 12px;
        padding: 6px 12px;
    }

    #indoforall_systemworkarea div {
        width: 80%;
    }
}

/* 850px */
@media(max-width:850px) {
    #indoforall_indonesiainfo h2 {
        font-size: 1.7vw;
    }

    #indoforall_ourfeaturesarea h2 {
        font-size: 2vw;
    }

    #indoforall_ourcontactinfo {
        flex-direction: column;
        align-items: center;
    }

    #indoforall_ourcontactinfo div {
        width: 50vw;
    }

    #indoforall_ourcontactinfo ion-icon {
        font-size: 20vw;
    }

    #indoforall_ourcontactinfo h1,
    #indoforall_ourcontactinfo h2 {
        background: orange;
        font-size: 3vw;
        align-items: center;
        margin: 5px 0;
        padding: 6px 12px;
        border-radius: 30px;
    }


    .indoforall_pricecard img {
        width: 60%;
    }

    .indoforall_pricecard h3,
    .indoforall_pricecard h4,
    .indoforall_pricecard h5 {
        font-size: 15px;
        padding: 7px 14px;
    }

    .indoforall_payresults h5 {
        font-size: 12px;
    }

    .indoforall_QuestionText {
        font-size: 2vw;
    }

    .indoforall_AnswerText {
        font-size: 2vw;
    }

    .indoforall_ProofVideoDiv {
        width: 150px;
    }

    .indoforall_systemworknum {
        font-size: 13px;
    }

    .indoforall_systemworktext {
        font-size: 16px;
    }

    .indoforall_explainsystemworktext {
        font-size: 13px;
    }

    #indoforall_systemworkarea ion-icon {
        font-size: 50px;
    }
}

/* 760px */
@media(max-width:760px) {
    #indoforall_NavIcon {
        width: 20px;
    }

    nav h3,
    nav h4 {
        font-size: 11px;
    }

    #indoforall_closenav {
        font-size: 10px;
        padding: 5px 10px;
    }

    .indoforall_sections {
        padding: 20px;
    }

    .indoforall_mainpagetext {
        font-size: 2vw;
    }

    .indoforall_WorkerCard {
        width: 130px;
    }

    .indoforall_systemworknum {
        padding: 5px;
    }

    #indoforall_companydescription h2 {
        font-size: 12px;
    }

    #indoforall_companydescription img {
        width: 120px;
    }


    footer h1,
    footer h2 {
        font-size: 12px;
        padding: 8px 16px;
    }

    footer img {
        width: 70px;
    }
}

/* 650px */
@media(max-width:650px) {

    .indoforall_pricecard h3,
    .indoforall_pricecard h4,
    .indoforall_pricecard h5 {
        font-size: 12px;
        padding: 6px 12px;
    }

    .indoforall_payresults h5 {
        font-size: 9px;
    }

    .indoforall_ProofVideoDiv {
        width: 120px;
        padding: 5px 0;
    }
}


/* 580px */
@media(max-width:580px) {
    Nav {
        padding: 0 10px 0 0;
    }

    nav h3,
    nav h4 {
        font-size: 9px;
    }

    #indoforall_nav {
        padding: 5px;
    }

    #indoforall_navIcon {
        width: 17px;
    }

    #indoforall_navoptions h4 {
        padding: 5px;
    }

    #indoforall_closenav {
        font-size: 8px;
    }

    #indoforall_webintro1 {
        font-size: 4vw;
    }

    #indoforall_webintro2 {
        font-size: 2.5vw;
    }

    #indoforall_webintro3 {
        font-size: 2.5vw;
    }

    .indoforall_contactus {
        font-size: 2.5vw;
        padding: 6px 12px;
    }

    .indoforall_sectionintrotext {
        font-size: 2vw;
    }

    .indoforall_wecareaboutworkerstext {
        font-size: 2vw;
        margin: 25px 0;
    }

    .indoforall_WorkerCard {
        width: 100px;
        margin: 5px;
    }

    .indoforall_WorkerCard h1 {
        font-size: 13px;
    }

    #indoforall_mainpagetext {
        font-size: 13px;
    }
}

/* 500px */
@media(max-width:500px) {
    .indoforall_fullscreenoverlay h1 {
        font-size: 15px;
        padding: 8px 16px;
    }

    .indoforall_fullscreenoverlay video,
    .indoforall_fullscreenoverlay img {
        width: 300px;
    }

    .fullscreenoverlayexitbutton {
        font-size: 13px;
        padding: 8px 16px;
    }

    #indoforall_WhatsAppIcon h4 {
        font-size: 12px;
    }

    #indoforall_WhatsAppIcon img {
        width: 50px;
    }

    #indoforall_GoUpArrow {
        font-size: 40px;
    }

    #indoforall_weblogo {
        width: 25vw;
    }

    .indoforall_mainpagetext {
        font-size: 2.3vw;
        padding: 6px 12px;
    }

    #indoforall_indonesiainfo h2 {
        font-size: 2.1vw;
    }

    #indoforall_cardsarea {
        padding: 30px 0;
    }

    #indoforall_ourfeaturesarea {
        padding: 5px;
    }

    #indoforall_pricearea {
        flex-direction: column;

    }

    .indoforall_pricecard {
        width: 80%;
        margin: 15px 0;
    }

    .indoforall_pricecard img {
        width: 40%;
        padding: 30px 0;
    }

    .indoforall_pricecard h3,
    .indoforall_pricecard h4,
    .indoforall_pricecard h5 {
        font-size: 15px;
        padding: 8px 16px;
    }

    .indoforall_payresults h5 {
        font-size: 12px;
    }

    #indoforall_systemworkarea div {
        width: 100%;
    }

    .indoforall_systemworknum {
        font-size: 10px;
    }

    .indoforall_systemworktext {
        font-size: 13px;
    }

    .indoforall_explainsystemworktext {
        font-size: 11px;
    }

    #indoforall_systemworkarea ion-icon {
        font-size: 40px;
    }

    #indoforall_companydescription {
        padding: 10px 0;
    }

    #indoforall_companydescription h2 {
        font-size: 9px;
    }

    #indoforall_companydescription img {
        width: 90px;
    }

    footer h1,
    footer h2 {
        font-size: 9px;
        padding: 5px 10px;
    }

    footer img {
        width: 30px;
    }
}

/* 400px */
@media(max-width:400px) {
    .indoforall_fullscreenoverlay h1 {
        font-size: 12px;
        padding: 6px 12px;
    }

    .indoforall_fullscreenoverlay video,
    .indoforall_fullscreenoverlay img {
        width: 200px;
    }

    .fullscreenoverlayexitbutton {
        font-size: 13px;
        padding: 6px 12px;
    }

    #indoforall_WhatsAppIcon h4 {
        font-size: 10px;
        padding: 5px;
    }

    #indoforall_WhatsAppIcon img {
        width: 30px;
    }

    #indoforall_GoUpArrow {
        font-size: 35px;
    }

    nav h3,
    nav h4 {
        font-size: 8px;
    }

    #indoforall_navIcon {
        width: 16px;
    }

    #indoforall_navoptions h4 {
        padding: 3px;
    }

    #indoforall_closenav {
        font-size: 7px;
    }

    #indoforall_indonesiainfo h2 {
        font-size: 2.4vw;
    }

    .indoforall_sectionintrotext {
        font-size: 2.3vw;
        padding: 6px 12px;
    }

    .indoforall_WorkerCard {
        width: 80px;
    }

    .indoforall_WorkerCard h1 {
        font-size: 10px;
    }

    #indoforall_mainpagetext {
        font-size: 10px;
    }

    #indoforall_ourfeaturesarea h2 {
        font-size: 2.5vw;

    }

    #indoforall_indonesiainfoimage1 {
        width: 70px;
    }

    #indoforall_indonesiainfoimage2 {
        width: 100px;
    }

    .indoforall_QuestionText {
        font-size: 2.5vw;
        padding: 5px 10px;
    }

    .indoforall_AnswerText {
        font-size: 2.5vw;
        padding: 5px 10px;
    }

    .indoforall_systemworktext {
        font-size: 12px;
    }

    .indoforall_explainsystemworktext {
        font-size: 9px;
    }

    #indoforall_systemworkarea ion-icon {
        font-size: 30px;
    }
}

/* 320px */
@media(max-width:320px) {
    .indoforall_fullscreenoverlay h1 {
        font-size: 11px;
        padding: 5px 10px;
    }

    .indoforall_fullscreenoverlay video,
    .indoforall_fullscreenoverlay img {
        width: 180px;
    }

    .fullscreenoverlayexitbutton {
        font-size: 12px;
        padding: 5px 10px;
    }

    #indoforall_WhatsAppIcon h4 {
        font-size: 9px;
        padding: 3px;
    }

    #indoforall_GoUpArrow {
        font-size: 30px;
    }

    #indoforall_navlogo {
        width: 70px;
    }

    .indoforall_WorkerCard {
        width: 60px;
    }

    #indoforall_indonesiainfoimage1 {
        width: 50px;
    }

    #indoforall_indonesiainfoimage2 {
        width: 70px;
    }

    .indoforall_pricecard {
        width: 100%;
    }

    .indoforall_pricecard h3,
    .indoforall_pricecard h4,
    .indoforall_pricecard h5 {
        font-size: 12px;
        padding: 6px 12px;
    }

    .indoforall_payresults h5 {
        font-size: 9px;
    }

    .indoforall_ProofVideoDiv {
        width: 100px;
    }

    .indoforall_systemworktext {
        font-size: 10px;
    }

    .indoforall_explainsystemworktext {
        font-size: 7px;
    }

    #indoforall_systemworkarea ion-icon {
        font-size: 20px;
    }

    #indoforall_companydescription h2 {
        font-size: 7px;
    }

    #indoforall_companydescription img {
        width: 70px;
    }
}
